
       
       

<!DOCTYPE html>
<head>
    <title>Paniolo Almaty</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Emblema+One" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/mystyle.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="~/Content/images/small_4621.png" />
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")   
    @RenderSection("scripts", required: false)
    <div id="header">
        <div id="navlinkscontainer">
            <a href="@Url.Content("~/Home/Index")"><img class="logo" src="~/Content/images/logo_paniolo.png" width="513" height="84" alt="" title=""></a>
            <a href="@Url.Content("~/Home/Index")"><img src="~/Content/images/girl.png" width="332" height="205" alt="" title=""></a>
            <ul class="navigation">
                <li>
                    <a class="active" href="@Url.Content("~/Home/Index")">Home</a>
                </li>
                <li>
                    <a href="@Url.Content("~/Home/About")">About</a>
                </li>
                <li>
                    <a href="@Url.Content("~/Products/Index")">Menu</a>
                </li>
                <li>
                    <a href="@Url.Content("~/Home/Contact")">Contact</a>
                </li>
                @*<li>
                        <a href="blog.html">Blog</a>
                    </li>*@
            </ul>
        </div>
    </div>

    <div id="body">
        @RenderBody()
        </div>


    <div id="footer">
        <div>
            <ul>
                <li class="first">
                    <h2>Delivery Hotline</h2>
                    <h3>Call 0-123-456-789</h3>
                    <ul>
                        <li>
                            <a href="" class="facebook"></a>
                        </li>
                        <li>
                            <a href="" class="twitter"></a>
                        </li>
                        <li>
                            <a href="" class="googleplus"></a>
                        </li>
                    </ul>
                </li>
                <li>

                    <ul class="navigation">
                        <li>
                            <a href="@Url.Content("~/Home/Index")">Home</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/Home/About")">About Us</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/Products/Index")">Menu</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/Home/Contact")">Contact Us</a>
                        </li>
                    </ul>
                    <span>&copy; 2017 Paniolo </span>
                </li>
                <li class="last">
                    <h2>Follow Us by Email</h2>
                    <form action="@Url.Content("~/Home/Index")">
                        <input type="text" name="subscribe" value="Enter Your Email Here...">
                        <input type="submit" value="">
                    </form>
                </li>
            </ul>
        </div>



        <!-- ZERO.kz -->
        <span id="_zero_68880">
            <noscript>
                <a href="http://zero.kz/?s=68880" target="_blank">
                    <img src="http://c.zero.kz/z.png?u=68880" width="88" height="31" alt="ZERO.kz" />
                </a>
            </noscript>
        </span>

        <script type="text/javascript">
<!--
var _zero_kz_ = _zero_kz_ || [];
_zero_kz_.push(["id", 68880]);
_zero_kz_.push(["type", 1]);

(function () {
    var a = document.getElementsByTagName("script")[0],
    s = document.createElement("script");
    s.type = "text/javascript";
    s.async = true;
    s.src = (document.location.protocol == "https:" ? "https:" : "http:")
    + "//c.zero.kz/z.js";
    a.parentNode.insertBefore(s, a);
})(); //-->
        </script>
        <!-- End ZERO.kz -->



    </div>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97432107-1', 'auto');
  ga('send', 'pageview');

    </script>



    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44216079 = new Ya.Metrika({
                    id:44216079,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/44216079" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


   
</body>



</html>

